
#container-fluid {
  position: relative;
  z-index: 0;

}

body {
  background-attachment: fixed;
  background-image: url("/assets/milkyway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

#overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent;

}

canvas {
  overflow: auto;
  position: absolute;
  z-index: -1;

}

.content {
  position: absolute;
  top: 40vh;
  z-index: 0;
  left: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  visibility: visible;

}

h1, i {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 60px;
}

h2{
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 32px;  }
#title{
  text-align: center;
  margin-top: 50px;
}

#nav {
  background-color: transparent;
}