html,
body {
  position:relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index:1;
  
}

#particle-canvas {
  width: 100%;
  height: 100%;
  z-index:-1;
  position:absolute
}

p{
  font:large;
  z-index:1;
}
