#container-fluid {
    z-index: 0;

}

body {
    font-family: 'Nixie One', cursive;

}

canvas {
    z-index: 1;
    background-color: transparent;
    width: 100%;
    height: 400px;

}

.content {
    position: absolute;
    top: 18vh;
    z-index: 0;
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    visibility: visible;
    background-color: transparent;

}

a, p {
    font-size: 16px;
    color: black;

}

h1 {
    font-size: 45px;
    color: black;

}

#container1 {
    background-attachment: fixed;
    background-image: url("horsehead.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;

}

#container2 {
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#transcontainer2 {
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-image: url("Liberty-Bell-new-tech-101-flat-layers-em.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#container3 {
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#transcontainer3 {
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-image: url("Cosmic Tree - APOD submission_small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#container4 {
    width: 100%;
    background-attachment: fixed;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#transcontainer4 {
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-image: url("PinnaclesGalaxy_Goh_2400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.navbar {

    width: 100%;
    z-index: 1;
    background-color: white;
    text-align: right;

}

#inner {
    width: 50%;
    padding: 0 auto;
    background-image: url("name.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;

    background-position: center center;
}

#footer {
    display: table;
    text-align: center;
    padding: auto;
    width: 100%;
}

.modal-body {
    width: 50% !important;
}

.modal-content {

    height: auto;
    vertical-align: middle;
}

.portfolio-item {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.portfolio-link {
    font-size: 25px;
}

#aboutMe {
    text-align: justify;
    padding-top: 25px;

}

.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.text-center {
    text-align: center
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/assets/loading.gif) center no-repeat #fff;
}

@media (min-width: 768px) {
    .col-md-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 0%;
    }
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */



